In [18]:
import pandas as pd
import numpy as np

In [20]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [22]:
iris = pd.read_csv(csv_url, header = None)

In [23]:
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

In [26]:
iris = pd.read_csv(csv_url, names = col_names)
iris

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [30]:
iris.Sepal_Width.mean()

3.0540000000000003

In [32]:
iris.Sepal_Width.mode()

0    3.0
Name: Sepal_Width, dtype: float64

In [34]:
iris.Sepal_Width.median()

3.0

In [36]:
iris.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [38]:
iris.groupby(['Sepal_Length']).count()

              Sepal_Width  Petal_Length  Petal_Width  Species
Sepal_Length
4.3                     1             1            1        1
4.4                     3             3            3        3
4.5                     1             1            1        1
4.6                     4             4            4        4
4.7                     2             2            2        2
4.8                     5             5            5        5
4.9                     6             6            6        6
5.0                    10            10           10       10
5.1                     9             9            9        9
5.2                     4             4            4        4
5.3                     1             1            1        1
5.4                     6             6            6        6
5.5                     7             7            7        7
5.6                     6             6            6        6
5.7                     8             8            8        8
5.8                     7             7            7        7
5.9                     3             3            3        3
6.0                     6             6            6        6
6.1                     6             6            6        6
6.2                     4             4            4        4
6.3                     9             9            9        9
6.4                     7             7            7        7
6.5                     5             5            5        5
6.6                     2             2            2        2
6.7                     8             8            8        8
6.8                     3             3            3        3
6.9                     4             4            4        4
7.0                     1             1            1        1
7.1                     1             1            1        1
7.2                     3             3            3        3
7.3                     1             1            1        1
7.4                     1             1            1        1
7.6                     1             1            1        1
7.7                     4             4            4        4
7.9                     1             1            1        1

In [40]:
iris.shape

(150, 5)

In [42]:
iris.head

<bound method NDFrame.head of      Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [44]:
iris.groupby(['Petal_Length']).count()

              Sepal_Length  Sepal_Width  Petal_Width  Species
Petal_Length
1.0                      1            1            1        1
1.1                      1            1            1        1
1.2                      2            2            2        2
1.3                      7            7            7        7
1.4                     12           12           12       12
1.5                     14           14           14       14
1.6                      7            7            7        7
1.7                      4            4            4        4
1.9                      2            2            2        2
3.0                      1            1            1        1
3.3                      2            2            2        2
3.5                      2            2            2        2
3.6                      1            1            1        1
3.7                      1            1            1        1
3.8                      1            1            1        1
3.9                      3            3            3        3
4.0                      5            5            5        5
4.1                      3            3            3        3
4.2                      4            4            4        4
4.3                      2            2            2        2
4.4                      4            4            4        4
4.5                      8            8            8        8
4.6                      3            3            3        3
4.7                      5            5            5        5
4.8                      4            4            4        4
4.9                      5            5            5        5
5.0                      4            4            4        4
5.1                      8            8            8        8
5.2                      2            2            2        2
5.3                      2            2            2        2
5.4                      2            2            2        2
5.5                      3            3            3        3
5.6                      6            6            6        6
5.7                      3            3            3        3
5.8                      3            3            3        3
5.9                      2            2            2        2
6.0                      2            2            2        2
6.1                      3            3            3        3
6.3                      1            1            1        1
6.4                      1            1            1        1
6.6                      1            1            1        1
6.7                      2            2            2        2
6.9                      1            1            1        1

In [48]:
iris.Petal_Length.std()

1.7644204199522617

In [54]:
iris[['Sepal_Length','Sepal_Width','Petal_Width']].mean()

Sepal_Length    5.843333
Sepal_Width     3.054000
Petal_Width     1.198667
dtype: float64

In [56]:
iris[['Sepal_Length','Sepal_Width','Petal_Width']].mode()

   Sepal_Length  Sepal_Width  Petal_Width
0           5.0          3.0          0.2

In [58]:
iris[['Sepal_Length','Sepal_Width','Petal_Width']].median()

Sepal_Length    5.8
Sepal_Width     3.0
Petal_Width     1.3
dtype: float64

In [60]:
iris[['Sepal_Length','Sepal_Width','Petal_Width']].max()

Sepal_Length    7.9
Sepal_Width     4.4
Petal_Width     2.5
dtype: float64

In [62]:
iris[['Sepal_Length','Sepal_Width','Petal_Width']].std()

Sepal_Length    0.828066
Sepal_Width     0.433594
Petal_Width     0.763161
dtype: float64

In [64]:
iris.groupby(['Species']).mean()

                 Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
Species
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [70]:
iris.groupby(['Species']).median()

                 Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
Species
Iris-setosa               5.0          3.4          1.50          0.2
Iris-versicolor           5.9          2.8          4.35          1.3
Iris-virginica            6.5          3.0          5.55          2.0

In [74]:
iris.groupby(['Species']).quantile()

                 Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
Species
Iris-setosa               5.0          3.4          1.50          0.2
Iris-versicolor           5.9          2.8          4.35          1.3
Iris-virginica            6.5          3.0          5.55          2.0

In [76]:
iris.groupby(['Species']).quantile(0.5)

                 Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
Species
Iris-setosa               5.0          3.4          1.50          0.2
Iris-versicolor           5.9          2.8          4.35          1.3
Iris-virginica            6.5          3.0          5.55          2.0

In [78]:
iris.groupby(['Species']).quantile(0.25)

                 Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
Species
Iris-setosa             4.800        3.125           1.4          0.2
Iris-versicolor         5.600        2.525           4.0          1.2
Iris-virginica          6.225        2.800           5.1          1.8

In [80]:
iris.groupby(['Species']).std()

                 Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
Species
Iris-setosa          0.352490     0.381024      0.173511     0.107210
Iris-versicolor      0.516171     0.313798      0.469911     0.197753
Iris-virginica       0.635880     0.322497      0.551895     0.274650